[LOGGING]
logginglevel = DEBUG

[SERVICEDESCRIPTION]
name = ikService
id = 456789
language = BlenderPython

[RESOURCES]
blendfile = IKService_dennis.blend
initialposture = intermediate.mos

[IKSERVER]
name = ikService
id = 123456
language = BlenderPython
address = 127.0.0.1
port = 9091

[REGISTERSERVICE]
address = 127.0.0.1
port = 9009
